* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: rgba(255, 255, 227, 0.993);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}


div.container{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: row-reverse;

  max-width: 1000px;

  margin: 0 auto
}
div.container>ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

div li {
  list-style: none;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s;
}
button:hover{
  background: #6c44ee;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
  transition: background 0.3s;
}
div li button:hover{
  background: #ec4040;
}

div.container-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;


  width: 380px;
  height: 280px;
  background: #1d1c1c;
  
  border-radius: 33px;
  
  padding: 30px;
  margin: 10px;

  transition: all 0.3s;
}
div.container-inner a{
  color: rgba(255, 255, 227, 0.993);
  text-decoration: none;
}

div.container-inner:hover{
  transform: scale(1.03);
}

div.container-inner h3{
  margin: 5px auto;
}

div.container-inner button{
  align-self: center;
  margin-top: 25px;
}

div.container-inner div.likes{
  margin: 3px auto;
  display: flex;
  align-items: center;
}

div.container-inner span{
  display: inline;
}
div.container-inner span.badgeTechs{
  background: rgb(72, 126, 79);
  font-size: 13px;
  margin: 5px;
  padding: 5px 8px;
  border-radius: 15px;
}
div.container-inner button.likeButton{
  display: inline;
  background: none;
  margin: 0;

  transition: color 0.5s;
}
div.container-inner button.likeButton:hover{
  color: rgba(10, 103, 241, 0.856);
}

